@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


/* auth */
body{
  background-color: #212121;
  color: #fff;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.form-title{
  font-size: 40px;
  margin-bottom: 18px;
}

.auth-content{
  background-color: #fff;
  padding: 60px 146px;
  border-radius: 10px;
}

.auth-page__layout{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #000;
}

.form-input{
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 12px;
}

.form-input:not(:last-child){
  margin-bottom: 18px;
}

.form-input::placeholder{
  color: #000;
}

.create-account{
  text-align: right;
  display: block;
  color: #000;
}

.auth{
  background-color: #000;
  display: block;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  padding: 13px 0px;
  margin-bottom: 18px;
}

.input-alert{
  max-width: 272px;
  margin-bottom: 18px;
}

/* profile */

.close-aside .l-1{
  transform: rotate(45deg);
  margin-bottom: 0;
}

.close-aside .l-2{
  display: none;
  margin: 0;
}

.close-aside .l-3{
  transform: rotate(-45deg);
  margin: 0;
}

.close-aside *{
  height: 1px;
  width: 28px;
  background-color: #fff;
}

.aside{
  width: 300px;
  padding: 40px 25px;
  box-shadow: 2px 4px 4px rgb(255, 255, 255, 25%);
  height: 100%;
  transition: left .3s ease-in-out;
}

.aside-top__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.aside-title{
  font-size: 24px;
  color: #757575;
  margin-bottom: 20px;
}

.aside-footer__top{
  margin-bottom: 70px;
}

.profile-links{
  font-size: 16px;
  color: #fff;
}

.aside-link{
  padding-left: 20px;
  color: #fff;
  transition: color .3s ease-in-out;
}

.aside-link:hover{
  color: #757575;
}

.groups-item__link{
  color: #fff;
  transition: color .3s ease-in-out;
  padding-left: 30px;
  text-transform: capitalize;
}

.groups-item__link:hover{
  color: #757575;
}

.groups-item:not(:last-child){
  margin-bottom: 10px;
}
.close-aside.active{
  position: fixed;
  left: 20px;
  top: 50px;
  display: block;
}

.create-group{
  padding-left: 20px;
  transition: color .3s ease-in-out;
}

.create-group:hover{
  color: #757575;
}

.profile-page__layout{
  height: 100vh;
  display: flex;
  align-items: center;
}

.close-aside{
  width: 28px;
  cursor: pointer;
}

.profile-content{
  height: 100vh;
  padding: 40px 80px;
  width: 100%;
}

.close-aside.active .l-1{
  transform: none;
}

.close-aside.active .l-2{
  display: block;
  margin: 10px 0px;
}
.close-aside.active .l-3{
  transform: none;
}

.close-aside.active{
  transition: all .3s ease-in-out;
}

.log-out__button{
  display: flex;
  gap: 5px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  padding: 12px 17px;
  border-radius: 10px;
}

.log-out__button img{
  max-width: 17px;
}

.aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.profile-button{
  background-color: #9E9E9E;
  transition: background-color .3s ease-in-out;
}

.user-profile__link{
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-button:hover{
  background-color: #757575;
}

.start-page{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 36px;
  margin-bottom: 24px;
}

.start-work{
  background-color: #9E9E9E;
  border-radius: 10px;
  color: #000;
  max-width: 200px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  transition: background-color .3s ease-in-out;
}

.start-work:hover{
  background-color: #757575;
}

/* forms */

.modal-title{
  font-size: 20px;
  font-weight: 500;
}

.form-field{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.profile-form-input{
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 7px 0px 7px 8px;
  width: 100%;
  max-width: 324px;
}

.form-text-area{
  resize: none;
  height: 90px;
}

.submit-form{
  background-color: #ffffff;
  color: #000;
  width: 135px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 auto;
  border-radius: 10px;
  font-size: 12px;
  transition: background-color .3s ease-in-out;
  font-weight: 600;
}

.submit-form:hover{
  background-color: #c4bebe;
}

.profile-alert{
  width: 100%;
  max-width: 100%;
}

.modal-header{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.close-modal:hover{
  opacity: 0.8;
}

.close-modal{
  transition: opacity .3s ease-in-out;
}

.form-selections__select{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.select-item *{
  display: block;
}

option{
  background-color: #212121;
}

.select-input{
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 4px 10px;
  margin-top: 10px;
  color-scheme: dark;
  cursor: pointer;
}

/* tasks-list */

.profile-title{
  font-size: 32px;
  color: #757575;
}

.tasks-app__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* filter */
.filter-form{
  position: absolute;
  transition: all .3s ease-in-out;
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  right: 50px;
}

.profile-link{
  font-size: 18px;
}

.filter-button{
  font-size: 20px;
  color: #757575;
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-form{
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}


.progress-radio{
  display: flex;
  justify-content: left;
  color: #000;
  gap: 10px;
  align-items: center;
  flex-direction: row-reverse;
}

.filter-content{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 15px;
}

.filter-form.active{
  right: 50px;
  padding: 20px;
  width: max-content;
  height: max-content;
  margin-top: 10px;
}

.filter-dates{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radios{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 134px;
}

.progress-radio__input{
  appearance: none;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.progress-radio__input#not-done:checked{
  background-color: #FF0000;
}

.progress-radio__input#done:checked{
  background-color: #00FF00;
}
.progress-radio__input#in-process:checked{
  background-color: #FFD900;
}

.progress-radio__input#not-done{
  border-color: #FF0000;
}

.progress-radio__input#done{
  border-color: #00FF00;
}

.progress-radio__input#in-process{
  border-color: #FFD900;
}

.progress-radio__label#not-done{
  color: #FF0000;
}

.progress-radio__label#not-done:hover{
  color: #FF0000;
}

.progress-radio__label#done{
  color: #00FF00;
}

.progress-radio__label#in-process{
  color: #FFD900;
}

.tasks-list__content{
  overflow: auto;
}

.deadline{
  color: #757575;
  font-size: 24px;
  margin-bottom: 15px;
}

.task-general-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title{
  max-width: 300px;
  width: 100%;
  font-size: 20px;
  text-transform: capitalize;
}


.progress-dropdown{
  max-width: 190px;
  width: 100%;
  font-size: 20px;
  gap: 10px;
}

.task-item{
  position: relative;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
}

.task-item:not(:last-child){
  margin-bottom: 10px;
}

.task-detailed__info{
  max-height: 0px;
  overflow: hidden;
  transition: max-height, padding .3s ease-in-out;
  position: relative;
}

.task-detailed__info.active{
  max-height: 300px;
  padding: 15px 0px;
}

.dropdown-image{
  transition: transform .3s ease-in-out;
  height: 20px;
  width: 20px;
}

.dropdown-image.active{
  transform: rotate(180deg);
}

.progress-dropdown{
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.ReactModalPortal{
  transition: all .3s ease-in-out;
}

.task-progress{
  transition: all .3s ease-in-out;
  padding: 5px 15px;
  color: #212121;
  border-radius: 10px;
  font-size: 18px;
}

.task-progress#not_done{
  background-color: #FF0000;
}

.task-progress#not_done:hover{
  background-color: #960a0a;
}

.task-progress#in_process{
  background-color: #FFA600;
}


.task-progress#in_process:hover{
  background-color: #c7850c;
}

.task-progress#done{
  background-color: #00FF00;
}

.task-progress#done:hover{
  background-color: #079e07;
}

.task-create__date{
  color: #BDBDBD;
}

.tasks-list__content{
  overflow: auto;
}

.tasks-list__item{
  margin-top: 30px;
}

.task-description{
  margin-bottom: 15px;
  font-size: 16px;
}

.group{
  text-decoration: underline;
  font-size: 18px;
}

/* create task */

.create-task__button{
  font-size: 18px;
  color: #757575;
  transition: color .3s ease-in-out;
}

.create-task__button:hover{
  color: #BDBDBD;
}

.task-title span{
  color: #BDBDBD;
}

.profile-form-input{
  width: 290px;
}

.progress-options{
  margin-bottom: 40px;
}

.aside.active{
  left: -200%;
  position: absolute;
}

.profile-settings__content{
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.user-info{
  width: 100%;
  max-width: 400px;
  box-shadow: 1px 1px 9px rgb(117, 117, 117, 0.5);
  border-radius: 10px;
  padding: 70px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-avatar{
  background-color: #9e9e9e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 30px;
}

.user-detailed__info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailed-info__item{
  font-size: 24px;
}



.delete-button{
  color: #db0000;
  font-size: 18px;
  transition: color .4s ease-in-out;
}

.delete-button:hover{
  color: #FF0000;
}

.color{
  color: #838383;
}



.change-password{
  font-size: 18px;
  color: #757575;
  transition: color .4s ease-in-out;
}

.change-password:hover{
  color: #9E9E9E;
}

@media(max-width: 989px){
  .aside{
    left: -200%;
    position: absolute;
    z-index: 100;
  }

  .aside-top__header{
    display: block;
  }

  .close-aside{
    position: fixed;
    top: 40px;
    left: 20px;
  }

  .close-aside .l-1{
    transform: none;
  }

  .close-aside .l-2{
    display: block;
    margin: 10px 0px;
  }
  .close-aside .l-3{
    transform: none;
  }
  .close-aside.active{
    left: 90%;
  }

  .close-aside.active .l-1{
    transform: rotate(45deg);
  }

  .close-aside.active .l-2{
    margin: 0;
    display: none;
  }

  .close-aside.active .l-3{
    transform: rotate(-45deg);
  }
  .aside.active{
    width: 100vw;
    left: 0;
    position: fixed;
    background-color: #212121;
    top: 0;
    bottom: 0;
    overflow: auto;
    gap: 20px;
  }
}

/* react-modal */
.ReactModal__Overlay--after-open{
  background: rgba(0,0,0,0.5) !important;
}

.ReactModalPortal{
  transition: all .4s ease-in-out;  
  border: none;
}
.ReactModal__Content{
  transition: all .3s ease-in-out;
}
.ReactModal__Content--after-open{
  transition: all .3s ease-in-out;
}

@media(max-width: 847px){
  .profile-content{
    padding-right: 15px;
  }

  .task-general-info{
    gap: 10px;
    flex-wrap: wrap;
  }
  .task-title{
    max-width: 150px;
  }
  .change-lng{
    left: 50%;
  }
  
}

@media(max-width: 623px){
  .task-general-info{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .task-title{
    max-width: max-content;
  }
}

@media(max-width: 566px){
  .form-field{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .ReactModal__Content{
    position: fixed;
    height: 100vh;
    width: 100vw;
  }

  .task-form{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-selections__select{
    flex-direction: column;
    gap: 10px;
  }

  .select-input{
    width: 100%;
    max-width: 250px;
  }
  
  .filter-content{
    flex-direction: column;
  }

  .filter-form.active{
    right: 10px;
  }

  .profile-form-input{
    width: 100%;
    max-width: 250px;
  }

}
.task-delete{
  margin-top: 15px;
}

@media(max-width:574px){
  .auth-content{
    padding: 40px 20px;
  }
  .form-title{
    font-size: 36px;
  }
}

@media(max-width: 442px){
  .profile-content{
    padding-left: 55px;
    padding-top: 33px;
  }

  .tasks-app__header{
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* language */
.change-lng{
  position: fixed;
  bottom: 20px;
  opacity: 0.6;
  right: 10px;
  z-index: 200;
  display: flex;
  justify-content: right;
}

.change-lng.active{
  opacity: 1;
}

.change-lng__button{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #9E9E9E;
  color: #000;
}

.options{
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.options.active{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 5px;
    background-color: #9E9E9E;
    width: 90px;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    opacity: 1;
  }

.change-lng__cont{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-title::first-letter{
  text-transform: uppercase;
}

.profile-content{
  overflow: auto;
}

.task-groups{
  max-height: 300px;
  overflow: auto;
}

.task-groups::-webkit-scrollbar{
  width: 1px;
  color: #000;
}


.profile-content::-webkit-scrollbar{
  width: 1px;
}

.progress-img{
  width: 5px;
  height: 5px;
  background-color: #212121;
  border-radius: 50%;
}
.task-progress{
  display: flex;
  align-items: center;
  gap: 5px;
}